<div style="background-color: rgb(0,0,205)"> 
  <table class="table">
    <thead style="background-color: rgb(25,25,112)">
      <tr>
        <th scope="col">Flight</th>
        <th scope="col">Destination</th>
        <th scope="col">Time</th>
        <th scope="col">Gate</th>
	<th scope="col">Remark</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <td>{logo}  GA 215</td>
        <td>Jakarta</td>
        <td>10.00</td>
	<td>01</td>
	<td>TO WAITING ROOM</td>
      </tr>
      <tr>
        <td>{logo}  IU 700</td>
        <td>Yogyakarta</td>
        <td>07.00</td>
	<td>02</td>
	<td>TO WAITING ROOM</td>
      </tr>
    </tbody>
  </table>
</div>
