<div>
  <table class="">
    <thead>
      <tr>
        <th scope="">Flight</th>
        <th scope="">Destination</th>
        <th scope="">Time</th>
        <th scope="">Gate</th>
        <th scope="">Remark</th>
      </tr>
    </thead>
    <tbody class="">
      <tr>
        <td>{logo} QG 715</td>
        <td>PEKANBARU</td>
        <td>06.00</td>
        <td>01</td>
        <td>TO WAITING ROOM</td>
      </tr>
      <tr>
        <td>{logo} AK 1321</td>
        <td>KUALA LUMPUR</td>
        <td>06.30</td>
        <td>01</td>
        <td>DELAYED 07.15</td>
      </tr>
      <tr>
        <td>{logo} JT 274</td>
        <td>LOMBOK</td>
        <td>06.40</td>
        <td>02</td>
        <td>CHECK IN OPEN</td>
      </tr>
      <tr>
        <td>{logo} JT 274</td>
        <td>JAKARTA</td>
        <td>07.00</td>
        <td>02</td>
        <td>CHECK IN OPEN</td>
      </tr>
      <tr>
        <td>{logo} QG 345</td>
        <td>JAKARTA</td>
        <td>07.00</td>
        <td>01</td>
        <td>CHECK IN OPEN</td>
      </tr>
      <tr>
        <td>{logo} AK 1321</td>
        <td>SINGAPORE</td>
        <td>07.00</td>
        <td>03</td>
        <td>TO WAITING ROOM</td>
      </tr>
      <tr>
        <td>{logo} GA 215</td>
        <td>Jakarta</td>
        <td>07.30</td>
        <td>01</td>
        <td>TO WAITING ROOM</td>
      </tr>
      <tr>
        <td>{logo} IU 700</td>
        <td>Yogyakarta</td>
        <td>07.30</td>
        <td>02</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="bottom-center">DEPARTURE</div>
</div>
