<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
  <div class="owl-carousel header-carousel position-relative">
    <div class="owl-carousel-item position-relative">
      <img class="img-fluid" src="img/carousel-1.jpg" alt="" />
      <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, 0.7)">
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-sm-10 col-lg-8">
              <h5 class="text-success text-uppercase mb-3 animated slideInDown">Feature Post</h5>
              <h1 class="display-3 text-white animated slideInDown">Es Terbakar</h1>

              <a href="esterbakar.html" class="btn btn-success py-md-3 px-md-5 me-3 animated slideInLeft">Selengkapnya</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="owl-carousel-item position-relative">
      <img class="img-fluid" src="img/milikanperc.jpg" alt="" />
      <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, 0.7)">
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-sm-10 col-lg-8">
              <h5 class="text-success text-uppercase mb-3 animated slideInDown">Feature Post</h5>
              <h1 class="display-3 text-white animated slideInDown">Percobaan Tetes Minyak Milikan</h1>

              <a href="milikan.html" class="btn btn-success py-md-3 px-md-5 me-3 animated slideInLeft">Selengkapnya</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Carousel End -->

<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px">
        <div class="position-relative h-100">
          <img class="img-fluid position-absolute w-100 h-100" src="img/about.jpg" alt="" style="object-fit: cover" />
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
        <h6 class="section-title bg-white text-start pe-3" style="color: #6e500d">About Us</h6>
        <h1 class="mb-4"><%= greet %></h1>
        <p class="mb-4">Merupakan sebuah blog yang penting posting dengan harapan dapat memberikan info bagi para pembacanya.</p>
        <p class="mb-4">Kedepannya berharap blog ini dapat menyediakan pembahasan soal terkait Ilmu pengetahuan alam & matematika.</p>
        <p class="mb-4">Semoga blog ini dapat diterima dengan baik & berguna sehingga meningkatkan ux dalam mencari info dari web serta pembacanya senang ketika berselancar.</p>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Categories Start -->
<div class="container-xxl py-5 category">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center px-3 mb-4" style="color: #6e500d">Post</h6>
    </div>
    <div class="row g-3">
      <div class="col-lg-7 col-md-6">
        <div class="row g-3">
          <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
            <a class="position-relative d-block overflow-hidden" href="siklotron.html">
              <img class="img-fluid" src="img/Nukleofil_FDG.jpg" alt="" />
              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px">
                <h5 class="m-0">Sintesis Radiofarmaka FDG</h5>
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
            <a class="position-relative d-block overflow-hidden" href="https://feryardi2.wordpress.com/2024/06/23/natural-science/">
              <img class="img-fluid" src="img/istockphoto667a.jpg" alt="" />
              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px">
                <h5 class="m-0">Natural Science</h5>
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
            <a class="position-relative d-block overflow-hidden" href="termo2.html">
              <img class="img-fluid" src="img/entropi2.jpeg" alt="" />
              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px">
                <h5 class="m-0">Formulasi Hukum Termodinamika II</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px">
        <a class="position-relative d-block h-100 overflow-hidden" href="superkonduktor.html">
          <img class="img-fluid position-absolute w-100 h-100" src="img/superkonduktor2.jpg" alt="" style="object-fit: cover" />
          <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px">
            <h5 class="m-0">Superkonduktor</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Categories Start -->

<!-- Courses Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center px-3" style="color: #6e500d">Popular Post</h6>
      <h1 class="mb-4"></h1>
    </div>
    <div class="row g-4 justify-content-center">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="course-item bg-light">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid" src="" alt="" />
            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
              <a href="404.html" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px">Read More</a>
            </div>
          </div>
          <div class="text-center p-4 pb-0">
            <h3 class="mb-0"></h3>
            <div class="mb-3">
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small>(0)</small>
            </div>
            <h5 class="mb-4">Not Found</h5>
          </div>
          <div class="d-flex border-top"></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="course-item bg-light">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid" src="" alt="" />
            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
              <a href="404.html" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px">Read More</a>
            </div>
          </div>
          <div class="text-center p-4 pb-0">
            <h3 class="mb-0"></h3>
            <div class="mb-3">
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small>(0)</small>
            </div>
            <h5 class="mb-4">Not Found</h5>
          </div>
          <div class="d-flex border-top"></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="course-item bg-light">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid" src="" alt="" />
            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
              <a href="404.html" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px">Read More</a>
            </div>
          </div>
          <div class="text-center p-4 pb-0">
            <h3 class="mb-0"></h3>
            <div class="mb-3">
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small>(0)</small>
            </div>
            <h5 class="mb-4">Not Found</h5>
          </div>
          <div class="d-flex border-top"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Courses End -->

<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="text-center">
      <h6 class="section-title bg-white text-center px-3" style="color: #6e500d">Testimonial</h6>
      <h2 class="mb-5">Sementara Templatenya dulu</h2>
    </div>
    <div class="owl-carousel testimonial-carousel position-relative">
      <div class="testimonial-item text-center">
        <img class="border rounded-circle p-2 mx-auto mb-3" src="" style="width: 80px; height: 80px" />
        <h5 class="mb-0">Name</h5>
        <p>Profession</p>
        <div class="testimonial-text bg-light text-center p-4">
          <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <img class="border rounded-circle p-2 mx-auto mb-3" src="" style="width: 80px; height: 80px" />
        <h5 class="mb-0">Name</h5>
        <p>Profession</p>
        <div class="testimonial-text bg-light text-center p-4">
          <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <img class="border rounded-circle p-2 mx-auto mb-3" src="" style="width: 80px; height: 80px" />
        <h5 class="mb-0">Name</h5>
        <p>Profession</p>
        <div class="testimonial-text bg-light text-center p-4">
          <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <img class="border rounded-circle p-2 mx-auto mb-3" src="" style="width: 80px; height: 80px" />
        <h5 class="mb-0">Name</h5>
        <p>Profession</p>
        <div class="testimonial-text bg-light text-center p-4">
          <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->
